<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		title Document
		link(href="../css/reset.css", rel="stylesheet")
		block css
	body
		block content
			.container
				.title 測試 Pug
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
		block js