mixin header()
  header
    .header
      .header_container
        a.header_logo(href="./")
        .header_menuList
          a.menu_item(href="./information.html")
            span.menu_text 資料頁面
          a.menu_item(href="./")
            span.menu_text 探索景點
          a.menu_item(href="./")
            span.menu_text 節慶活動
          a.menu_item(href="./")
            span.menu_text 品嘗美食
