// 基礎顏色
$black: #000000;
$white: #FFFFFF;

// 主視覺顏色
$primary-green: #65895F;

// 主視覺 - 字體顏色
$text-dark: #2F2F2F;
$text-gray: #646464;
$text-light: #FFFFFF;

// 介面大小
$media-desktop: 1440;
$media-pad: 768;
$media-phone: 500;
