header {
  a {
    text-decoration: none;
  }
}
.header {
  width: 100%;
  border-bottom: 1px solid $gray;
  position: fixed;

  &_container {
    @extend .widthLimit;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    padding: 24px 45px;
  }
  &_logo {
    width: 240px;
    height: 32px;
    background-image: url(../images/Logo.svg);
    background-repeat: no-repeat;
  }
  &_menuList {
  }
}

.menu {
  &_item {
    padding: 20px 10px;
  }
  &_text {
    color: $text-gray;
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
  }
}
