header {
  a {
    text-decoration: none;
  }
}
.header {
  background-color: $white;
  width: 100%;
  border-bottom: 1px solid $gray;
  position: fixed;
  z-index: 2;

  &_container {
    @extend .widthLimit;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    padding: 24px 45px;
  }
  &_logo {
    width: 240px;
    height: 32px;
    background-image: url(../images/Logo.svg);
    background-repeat: no-repeat;
  }
  &_menuList {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 4px;
  }
}

.menu {
  &_item {
    margin: 0 10px;
    &.activeHeader {
      &::after {
        transform: scaleX(1);
      }
      .menu_text {
        color: $primary-lightGreen;
      }
    }
    &::after {
      display: block;
      content: '';
      padding-top: 5px;
      transform: scaleX(0);
      transform-origin: 0% 50%;
      border-bottom: 2px solid $primary-yellow;
      transition: .3s;
    }
    &:hover {
      &::after {
        transform: scaleX(1);
      }
      .menu_text {
        color: $primary-lightGreen;
      }
    }
  }
  &_text {
    color: $text-gray;
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    transition: .3s;
  }
}
