.content {
  @extend .widthLimit;
}
.top_container {
  margin: 82px 95px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .descriptionWrapper {
    .slogan {
      color: $text-black;
      font-size: 48px;
      font-weight: 300;
      line-height: 70px;
      margin-bottom: 16px;
      span {
        border-bottom: 2px solid $primary-yellow;
      }
    }
    .textWrapper {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      color: $text-gray;

      i {
        position: relative;
        bottom: 2px;
        color: $primary-yellow;
      }
      .text {
        font-size: 20px;
        font-weight: 400;
        margin-left: 6px;
      }
      .engText {
        font-family: 'Playfair Display', serif;
        font-size: 18px;
        font-weight: 700;
        margin-left: 8px;
      }
    }
  }
}
