extends ../base/_base.pug

block append variables
  - var pageTitle = "品嘗美食"

block append css
  //- link(href="../css/scene.css", rel="stylesheet")

block append js
  script(src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.min.js" type="text/javascript")
  //- script(src="" type="text/javascript")

block content
  .content.searchPage
    ul.breadcrumbs
      li: a(href='./') 首頁
      li 品嘗美食
    .searchWrapper
      .selectBox#searchDropdown_city
        ul.default
          li.item
            .text 全部縣市
            i.fas.fa-chevron-down
        ul.options
          li.item
            .text 全部縣市
          li.item
            .text 臺北市
          li.item
            .text 新北市
          li.item
            .text 基隆市
          li.item
            .text 宜蘭縣
          li.item
            .text 桃園市
          li.item
            .text 新竹縣
          li.item
            .text 新竹市
          li.item
            .text 苗栗縣
          li.item
            .text 臺中市
          li.item
            .text 彰化縣
          li.item
            .text 南投縣
          li.item
            .text 雲林縣
          li.item
            .text 嘉義縣
          li.item
            .text 嘉義市
          li.item
            .text 臺南市
          li.item
            .text 高雄市
          li.item
            .text 屏東縣
          li.item
            .text 花蓮縣
          li.item
            .text 臺東縣
          li.item
            .text 澎湖縣
          li.item
            .text 金門縣
          li.item
            .text 連江縣
      .selectBox#searchDropdown_topic
        ul.default
          li.item
            .text 全部分類
            i.fas.fa-chevron-down
        ul.options
          li.item
            .text 全部分類
          li.item
            .text 地方特產
          li.item
            .text 中式美食
          li.item
            .text 甜點冰品
          li.item
            .text 異國料理
          li.item
            .text 伴手禮
          li.item
            .text 素食
      input.searchInput#search_keyword(
        type='text'
        placeholder='你想去哪裡？ 請輸入關鍵字'
      )
      button.searchButton
        .icon
        .text 搜　尋
    .activity_container#searchContainer
      .topWrapper
        .title 熱門分類
      .card_imgWrapper
        .card_img
          img(src='../images/Theme-bg3-1.png')
          .title 地方特產
        .card_img
          img(src='../images/Theme-bg3-2.png')
          .title 中式美食
        .card_img
          img(src='../images/Theme-bg3-3.png')
          .title 甜點冰品
        .card_img
          img(src='../images/Theme-bg3-4.png')
          .title 異國料理
        .card_img
          img(src='../images/Theme-bg3-5.png')
          .title 伴手禮
        .card_img
          img(src='../images/Theme-bg3-6.png')
          .title 素食
      .card_pagination#pagination
      .card_emptyWrapper#searchEmpty(style={'display':'none'})
        .img
        .text 目前查無資料<br>請重新搜尋
