extends ../base/_base.pug

block append css
  link(href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.min.css" rel="stylesheet")
  //- link(href="../css/home.css", rel="stylesheet")

block append js
  script(src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js" type="text/javascript")
  script(src="../js/index.js" type="text/javascript")
  //- script(src="" type="text/javascript")

block content
  .content
    .top_container
      .descriptionWrapper
        .slogan 探索<span>台灣之美</span><br>
          | 讓我們更親近這片土地
        .textWrapper
          i.fas.fa-map-marker-alt
          .text 台灣旅遊景點導覽
          .engText Taiwan Travel Guide
      .searchWrapper
        .selectBox#searchDropdown_kind
          ul.default
            li.item
              .text 探索景點
              i.fas.fa-chevron-down
          ul.options
            li.item
              .text 探索景點
            li.item
              .text 節慶活動
            li.item
              .text 品嘗美食
        input.searchInput(
          type='text'
          placeholder='你想去哪裡？ 請輸入關鍵字'
        )
        button.searchButton
          .icon
          .text 搜　　尋
    .slide_container
      ul#a
        li
          .text 新北市 | 不厭亭
          img(src="../images/ScenicSpotPicture.png")
        li
          .text 新北市 | 不厭亭
          img(src="http://t1.gstatic.com/licensed-image?q=tbn:ANd9GcTsUtvFNQlm8coEDRfNF48_X39iW5tLbiB2dT7i_8UYdE1j6Bn5VhlJ-CsEp8PweSY6RyTbfOn-JLnuOFTDT0I")
        li
          .text 新北市 | 不厭亭
          img(src="../images/ScenicSpotPicture.png")
        li
          .text 新北市 | 不厭亭
          img(src="../images/ScenicSpotPicture.png")
        li
          .text 新北市 | 不厭亭
          img(src="../images/ScenicSpotPicture.png")
    .activity_container#recentEvent
      .topWrapper
        .title 近期活動
        .readMoreButton
          .text 查看更多活動
          i.fas.fa-chevron-right
      .card_detailWrapper
        .card_detail
          .img
            img(src='../images/EventPhoto.png')
          .description
            .dateWrapper
              span.date_begin 2021/10/30
              span.date_dash
              span.date_finish 2021/11/13
            .title 2021 日月潭花火音樂嘉年華
            .bottom_container
              .locationWrapper
                .icon
                .text 南投縣
              .readMoreButton
                .text 詳細介紹
                i.fas.fa-chevron-right
        .card_detail
          .img
            img(src='../images/EventPhoto.png')
          .description
            .dateWrapper
              span.date_begin 2021/10/30
              span.date_dash
              span.date_finish 2021/11/13
            .title 2021 日月潭花火音樂嘉年華
            .bottom_container
              .locationWrapper
                .icon
                .text 南投縣
              .readMoreButton
                .text 詳細介紹
                i.fas.fa-chevron-right
        .card_detail
          .img
            img(src='../images/EventPhoto.png')
          .description
            .dateWrapper
              span.date_begin 2021/10/30
              span.date_dash
              span.date_finish 2021/11/13
            .title 2021 日月潭花火音樂嘉年華
            .bottom_container
              .locationWrapper
                .icon
                .text 南投縣
              .readMoreButton
                .text 詳細介紹
                i.fas.fa-chevron-right
        .card_detail
          .img
            img(src='../images/EventPhoto.png')
          .description
            .dateWrapper
              span.date_begin 2021/10/30
              span.date_dash
              span.date_finish 2021/11/13
            .title 2021 日月潭花火音樂嘉年華
            .bottom_container
              .locationWrapper
                .icon
                .text 南投縣
              .readMoreButton
                .text 詳細介紹
                i.fas.fa-chevron-right
    .activity_container#recentScene
      .topWrapper
        .title 熱門打卡景點
        .readMoreButton
          .text 查看更多景點
          i.fas.fa-chevron-right
      .card_simpleWrapper
        .card_simple
          .img
            img(src="../images/RestaurantPicture.png")
          .title 龜山島牛奶湖
          .locationWrapper
            .icon
            .text 宜蘭縣縣縣縣
        .card_simple
          .img
            img(src="../images/RestaurantPicture.png")
          .title 龜山島牛奶湖
          .locationWrapper
            .icon
            .text 宜蘭縣縣縣縣
        .card_simple
          .img
            img(src="../images/RestaurantPicture.png")
          .title 龜山島牛奶湖
          .locationWrapper
            .icon
            .text 宜蘭縣縣縣縣
        .card_simple
          .img
            img(src="../images/RestaurantPicture.png")
          .title 龜山島牛奶湖
          .locationWrapper
            .icon
            .text 宜蘭縣縣縣縣
    .activity_container
      .topWrapper
        .title 一再回訪美食
        .readMoreButton
          .text 查看更多美食
          i.fas.fa-chevron-right
      .card_simpleWrapper
        .card_simple
          .img
            img(src="../images/RestaurantPicture.png")
          .title 龜山島牛奶湖
          .locationWrapper
            .icon
            .text 宜蘭縣縣縣縣
        .card_simple
          .img
            img(src="../images/RestaurantPicture.png")
          .title 龜山島牛奶湖
          .locationWrapper
            .icon
            .text 宜蘭縣縣縣縣
        .card_simple
          .img
            img(src="../images/RestaurantPicture.png")
          .title 龜山島牛奶湖
          .locationWrapper
            .icon
            .text 宜蘭縣縣縣縣
        .card_simple
          .img
            img(src="../images/RestaurantPicture.png")
          .title 龜山島牛奶湖
          .locationWrapper
            .icon
            .text 宜蘭縣縣縣縣
